* {
    /* Page font color */
    color: #333333;
}

header {
    background: #F9F0EB;
}

/* Colors configurations in main content */
#scope:hover {
    background: #f1f1f1;
}
/* Function content 
        Card-1     */
.function-1 {
    background: #F9F0EB;
}
/*      Card-2     */
.function-2 {
    background: #FDFDFD;
}

/* Developers content */
.developers-1 {

}

.developers-2 {

}

/* footer newsletter color background */
footer {
    background: #F9F0EB;
}

.footer-logo {
    background: #333333;
}


