@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i');
/* Page Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Font-sizes */
h1 { font-size: 3.5rem; }
h2 { font-size: 2.5rem; }
p  { font-size: 1.25rem; }

/* Header styles */
header {
    height: 60px;
}
header img {
    width: 40px;
}

/* Slideshare styles */
#slideshare {
    box-shadow: 0 3px 2px rgba(10,16,20,.24), 0 2px 2px rgba(10,16,20,.12);

    transition: all .5s;
}
#slideshare:hover {
    margin-top: 10px;    
    margin-bottom: 10px;    
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
}
#slideshare h1 {
    margin: 15px;
}
/* Create a standard width for all images */
.carousel-inner .carousel-item > img {
    width: 1280px;
    height: 800px;
}

/* Scope content styles */
#scope {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: all .5s;
}
/* Material effect */
#scope:hover { 
    box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 -8px 8px rgba(10,16,20,.12);
}
#scope > * {
    width: 40%;
    margin: 0 5%;
}
.scope p {
    font-size: 1.5rem;
    max-width: 700px;
}
.scope img {
    width: 100%;
}

/* Functions content styles */
#functions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    justify-content: space-around;
}
#functions > * {
    flex-basis: 550px;
    margin: 5px;
    padding: 20px;

    transition: all .5s;
}
/* Material effect */
#functions > *:hover {
    box-shadow: 0 10px 8px rgba(10,16,20,.36), 0 0px 10px rgba(10,16,20,.12);
    transform: scale(1.025);
}
.function img {
    width: 100%;
}
/* Shadow in second card */
.function-2 {
    box-shadow: 0 0 8px rgba(10,16,20,.24);
}

/* Developers content styles */
#developing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
#developing > * {
    margin: 20px auto;
    flex-basis: 550px;

    transition: all .5s;
}
/* Material effect */
#developing > *:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.36), 0 0px 10px rgba(10,16,20,.12);
    transform: scale(1.025);
}
.developing {
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
}
.developing img {
    width: 100%;
}
.developing footer h3 {
    text-align: center;
}

/* Footer Styles */
section.newsletter {
    height: 30vh;
}
section .newsletter {
    margin-bottom: 30px; 
}
.newsletter h1 {
    padding-top: 10px;
}
.newsletter form{
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 60px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 6px rgba(10,16,20,.24);
    background: #ffffff;   

    transition: box-shadow .5s;
}
.newsletter form:hover {
    box-shadow: 0 8px 8px rgba(10,16,20,.36), 0 0px 10px rgba(10,16,20,.12);
}
.newsletter form input[id=email] {
    margin-left: 40px;
    border-style: none;
    font-style: italic;
}

.newsletter form button {
    margin: 10px;
    font-weight: 700;
}

/* Configure the font-family in class button in bootstrap */
.btn {
    font-family: 'Roboto', sans-serif;
}

.footer-logo {
    padding: 1vh;
}
.footer-logo img {
    width: 40px;
}

/* Working responsiveness */
@media only screen and (max-width: 1842px) {
    /* Container functions breakage size */
    #functions > * {
        flex-basis: 700px;
    }
    
}

@media only screen and (max-width: 1100px) {
    #scope div:nth-child(1) {
        width: 80%;
    }
    #scope div:nth-child(2) {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    #functions > *:hover {
        box-shadow: 0 10px 8px rgba(10,16,20,.36), 0 0px 10px rgba(10,16,20,.12);
        transform: scale(1);
    }
    #developing > *:hover {
        box-shadow: 0 8px 8px rgba(10,16,20,.36), 0 0px 10px rgba(10,16,20,.12);
        transform: scale(1);
    }
}

@media only screen and (max-width: 870px) {
    /* Slider mobile */
    .carousel-inner .carousel-item > img {
        width: 100%;
        height: 500px;
    }
    /* Cards for mobile or small screen */
    #functions {
        margin-left: 0;
        margin-right: 0;
    }
    #functions > * {
        margin-left: 0;
        margin-right: 0;
    }
    /* Container functions breakage size */
    #developing > * {
        flex-basis: 100%;
    }
    /* Form input width */
    .newsletter form {
        width: 75%;
    }
}

@media only screen and (max-width: 650px) {
    /* Slider mobile */
    .carousel-inner .carousel-item > img {
        width: 100%;
        height: 375px;
    }
    /* Removing Hover effects in small screens*/
    #functions > div.function-1:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0)
    }
    #functions > div.function-2:hover, #developing > *:hover {
        box-shadow: 0 0px 10px rgba(10,16,20,.50);
    }
}

@media only screen and (max-width: 500px) {
    /* Slider mobile */
    .carousel-inner .carousel-item > img {
        width: 100%;
        height: 300px;
    }
    .function {
        min-width: 100%;
    }
    /* Form input width */
    .newsletter form {
        margin-top: 40px;
        width: 90%;
    }
}

@media only screen and (max-width: 410px) {
    /* Form input */
    .newsletter form {
        width: 100%;
    }
    .newsletter form input[id="email"] {
        text-align: center;
        margin-left: 0;
    }
}
@media only screen and (max-width: 340) {
    /* Form input */
    .newsletter form button {
        margin: 10px auto;
    }
}
